body, td {

}

a {
}

a:hover {
}

.coluna1{
        position:absolute;
        width:97mm;
        height:255mm;
        left:0px;
        margin-left: 0mm;
        margin-top: 4.1mm;
        margin-right: 4.7mm;
        margin-bottom: 3.8mm;
        border:1px solid white;

}

.coluna2{
       position:absolute;
        width:97mm;
        height:252mm;
        left:106mm;
        margin-left: 0mm;
        margin-top: 4.1mm;
        margin-bottom: 3.8mm;
        border:1px solid white;

}

.etiqueta{
        padding-top:2mm;
        padding-left: 3mm;
        width:93mm;
        height:23mm;
        border:1px dotted #ccc;
        float:left;
        font-size:11pt;
        overflow:hidden;

}

.breakhere {
    page-break-after: always;
    clear: both;
    margin-bottom:55mm;
}