@charset "UTF-8";
/* CSS Document */

.op_frame {
	height:564px;
	width: 830px;
	display:none;
    position: relative;
}

.op_head {
	height: 30px;
	width: 760px;
	font-size:20px;
    display: inline-block;
    padding: 10px;
    margin-bottom:5px;


	
}

.op_cols {
	overflow:hidden;
	
}

.op_lcol {
    margin-top:10px;
	width:175px;
	height: 500px;
	float:left;
    margin-left: 5px;
    position: relative;
	
}

.op_rcol {
    margin-top:10px;
	width:645px;
	height: 500px;
	float:right;
}

.op_close {
	float: right;
    position: relative;
    width: 22px;
    height: 22px;
    cursor:pointer;
	
}

.op_btn_config {
    position:absolute;
    bottom:0;
    left:0;
}

.op_setting_frame {
    -webkit-box-shadow: 1px 1px 1px 1px rgba(200,200,200,0.5);
    box-shadow: 1px 1px 1px 1px rgba(164,164,164,0.8);
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    padding:10px;
    padding-left: 15px;
    margin: 5px;
    display: block;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    border: solid 1px #a6a6a6;
}